<h1>You are Invited!</h1>

<p>
Hello,
</p>
<p>
You have been invited by <%= @sender %> to join School Uniform Resale, the online community for buying and selling gently used school uniforms. 
Here is the personal message they sent to you:
</p>

<p>
  <%= @message %>
</p>

<hr/>
<p>
We hope you will join School Uniform Resale and help make the online community better. Thanks for your interest.
</p>
<p>
<a href="http://www.schooluniformresale.com">www.schooluniformresale.com</a>
</p>

