label {
  padding-top: 10px;
  color: #6B8D84;
}

input[type="text"] {
  width: 100%;
}

input[type="url"] {
  width: 100%;
}

input[type="email"] {
  width: 100%;
}

textarea {
  width: 100%;
}

select {
  width: 100%;
}